@import "tailwindcss";

@plugin "daisyui" {
	themes:
		lofi --default,
		black --prefersdark;
}

@plugin "@tailwindcss/typography";

@theme {
	--font-sans:
		"Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a.active {
	@apply pointer-events-none font-semibold no-underline;
}

a {
	@apply link underline-offset-4 transition-opacity hover:opacity-75;
}

.bookmarks-prose > h2:first {
	@apply !mt-0;
}

.bookmarks-prose > ul {
	@apply prose-sm list-none pl-0;
}

.bookmarks-prose > ul > li {
	@apply pl-0;
}
