@import "tailwindcss";

@plugin "daisyui" {
	themes:
		corporate --default,
		business --prefersdark;
}

@plugin "@tailwindcss/typography";

@theme {
	--font-sans:
		"Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	@apply underline-offset-4;
}
