---
import { getCollection, getEntry } from "astro:content";
import Root from "../../layouts/Root.astro";
import PostEntry from "../../components/PostEntry.astro";
import { render } from "astro:content";

const bookmarks = (await getCollection("bookmarks"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 10);

const bookmarksPage = await getEntry("pages", "bookmarks");

const { Content } = await render(bookmarksPage!);
---

<Root title="Bookmarks | Lucas Castro">
  <Content />
  <h3>Recent</h3>
  <ul class="pl-0">
    {
      bookmarks.map((bookmark) => (
        <PostEntry
          date={bookmark.data.pubDate}
          title={"Issue #" + bookmark.data.issue.toString().padStart(2, "0")}
          slug={"/bookmarks/" + bookmark.id}
        />
      ))
    }
  </ul>
  <p>
    <a href="/bookmarks/archive">View all →</a>
  </p>
</Root>
