---
import { PAGES } from "../consts";
import NavLink from "./NavLink.astro";
---

<header class="w-full flex flex-col items-start">
	<a class="text-2xl no-underline leading-12" href="/">Lucas Castro</a>
	<nav
		class="w-full flex flex-wrap justify-start space-x-3 items-center mb-4"
	>
		{PAGES.map((page) => <NavLink href={page.to}>{page.label}</NavLink>)}
	</nav>
</header>
