---
interface Props {
	date: Date;
	title: string;
	slug: string;
}

const { date, title, slug } = Astro.props;
---

<article class="flex flex-col gap-x-4">
	<span class="text-secondary text-xs"
		>{
			date.toLocaleDateString("en-US", {
				year: "numeric",
				day: "2-digit",
				month: "short",
				timeZone: "UTC",
			})
		}</span
	>
	<a>
		{title}
	</a>
</article>
