---
interface Props {
  date: Date;
  title: string;
  slug: string;
}

const { date, title, slug } = Astro.props;
---

<li class="grid grid-cols-5 gap-x-2">
  <span class="font-light text-secondary"
    >{
      date.toLocaleDateString("en-US", {
        year: "numeric",
        day: "2-digit",
        month: "short",
      })
    }</span
  >
  <a href={`/writing/${slug}`} class="col-span-4">
    {title}
  </a>
</li>
