---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Navigation from "../components/Navigation.astro";

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
		/>
	</head>
	<body class="max-w-5xl mx-auto w-full px-8 py-16">
		<main class="w-full md:w-2/3 prose mx-auto mt-0 md:mt-16">
			<Navigation />
			<slot />
		</main>
	</body>
</html>
