---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
		/>
	</head>
	<body class="mx-auto w-full max-w-2xl px-6 py-12 md:py-20">
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
