---
import { getCollection, getEntry } from "astro:content";
import Root from "../../layouts/Root.astro";
import PostEntry from "../../components/PostEntry.astro";
import { render } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const writingPage = await getEntry("pages", "writing");

const { Content } = await render(writingPage!);
---

<Root title="Writing | Lucas Castro">
  <Content />
  {
    /* <p className="italic">
        Since August 2025 I've been releasing a weekly series called{" "}
        <strong>Bookmarks</strong>. You can find it{" "}
        <NavLink to="/bookmarks">here</NavLink>.
      </p> */
  }
  <h3>Recent</h3>
  <ul class="p-0">
    {
      posts.map((post) => (
        <PostEntry
          date={post.data.pubDate}
          title={post.data.title}
          slug={post.id}
        />
      ))
    }
  </ul>
</Root>
