---
import { getCollection, getEntry } from "astro:content";
import Root from "../../layouts/Root.astro";
import PostEntry from "../../components/PostEntry.astro";
import { render } from "astro:content";

const posts = (await getCollection("posts")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const writingPage = await getEntry("pages", "writing");

const { Content } = await render(writingPage!);
---

<Root title="Writing | Lucas Castro">
	<Content />
	<h3>Recent</h3>
	<secion class="flex flex-col space-y-4">
		{
			posts.map((post) => (
				<PostEntry
					date={post.data.pubDate}
					title={post.data.title}
					slug={"/writing/" + post.id}
				/>
			))
		}
	</secion>
</Root>
