---
import { getCollection } from "astro:content";
import Root from "../../layouts/Root.astro";
import PostEntry from "../../components/PostEntry.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Root title="Writing | Lucas Castro">
  <h2>Writing</h2>
  <p>
    Every now and then I feel compelled to publish some of my thoughts. They can
    be about anything, really, but usually they are about my career,
    programming, or the industry.
  </p>

  <p>
    These posts don't have any regular cadence, they simply pop right out of my
    head whenever I feel like it is a thought worth sharing.
  </p>
  {
    /* <p className="italic">
        Since August 2025 I've been releasing a weekly series called{" "}
        <strong>Bookmarks</strong>. You can find it{" "}
        <NavLink to="/bookmarks">here</NavLink>.
      </p> */
  }
  <h3>Recent</h3>
  <ul class="p-0">
    {
      posts.map((post) => (
        <PostEntry
          date={post.data.pubDate}
          title={post.data.title}
          slug={post.id}
        />
      ))
    }
  </ul>
  <p>
    <a href="/archive" class="text-sm font-light"> View all → </a>
  </p>
</Root>
